<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <style>
            body {
                background-color: lightblue;
            }
            .tictac-cell {
                width: 150px;
                height: 150px;
                padding: 2px 18px;
                box-sizing: border-box;
                border: 2px solid #ccc;
                border-radius: 4px;
                font-size: 140px;
                resize: none;
                overflow: hidden;
            }
            .row0 {
                position: absolute;
                top: 30px;
            }
            .row1 {
                position: absolute;
                top: 210px;
            }
            .row2 {
                position: absolute;
                top: 390px;
            }
            .row3 {
                position: absolute;
                top: 570px;
            }
            .col0 {
                position: absolute;
                left: 30px;
            }
            .col1 {
                position: absolute;
                left: 210px;
            }
            .col2 {
                position: absolute;
                left: 390px;
            }
        </style>
    </head>
    <body>
        <%= yield %>
    </body>
</html>