<form action="/tictactoe" method="post">
  <input class="row1 col1 tictac-cell">
  <input class="row2 col1 tictac-cell">
  <input class="row3 col1 tictac-cell">
  <input class="row1 col2 tictac-cell">
  <input class="row2 col2 tictac-cell">
  <input class="row3 col2 tictac-cell">
  <input class="row1 col3 tictac-cell">
  <input class="row2 col3 tictac-cell">
  <input class="row3 col3 tictac-cell">
</form>